<div
  class="mat-app-background"
  [ngClass]="{ 'dark-theme-mode': isDarkMode }"
  style="height: 100%"
>
  <mat-toolbar color="primary" class="app-header">
    <span> Regex Tester </span>
    <span class="spacer"></span>
    <div
      *ngIf="auth.user | async as user"
      fxLayoutAlign="center center"
      style="margin-right: 10px"
    >
      <button mat-button [matMenuTriggerFor]="menu" style="font-size: 25px">
        {{ user.displayName }} <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          type="button"
          mat-menu-item
          color="accent"
          (click)="auth.signOut()"
        >
          Sair
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </div>
    <div class="dark-mode-toggle">
      <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="handleSelectedMode()"
        ><mat-icon>bedtime</mat-icon></mat-slide-toggle
      >
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
