/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.succes-snack {
  background-color: #00796b !important;
  .mat-simple-snackbar-action {
    color: #ffb3cc !important;
  }
}

.danger-snack {
  background-color: #d32f2f !important;
  .mat-simple-snackbar-action {
    color: #100b09 !important;
  }
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.results-content {
  font-size: 20px;
  span {
    border: 3px solid #6ac86a;
    margin: 2px;
  }
}

.mat-card-header-text {
  width: 100% !important;
}
